<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Modal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
        <!-- Custom -->
        <link rel="stylesheet" href="{$basePath}/css/custom.css">

        <style>
            .loader
            {
                z-index: 99;
            }
        </style>
        
        {block head}{/block}
    </head>
    <body>

        <!-- Loader -->
        <div id="loader" class="loader loader-custom" style="display: none;"></div>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <button type="button" data-loader class="btn btn-success" style="z-index: 1000000;">Spinner</button>
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            <div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>
            {include #content}
        </main><!-- /.container -->

        <!-- Modal -->
        {snippet modal}
            {ifset $modal}
                <div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="layoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        {snippet modal-content}
                            <div class="modal-content">
                                {include #"modal-content-{$modal}"}
                            </div>
                        {/snippet}
                    </div>
                </div>
            {/ifset}
        {/snippet}

        {block scripts}
        <!-- Jquery -->
        <script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
        <!-- Popper -->
        <script src="{$basePath}/js/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <!-- NetteForms -->
        <script src="{$basePath}/js/live-form-validation.js"></script>
        <!-- Nette ajax -->
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <!-- Nette ajax -->
        <script src="{$basePath}/js/spinner.ajax.js"></script>

        <script>

            $( document ).ready( function ()
            {
                // NETTE AJAX INIT
                $.nette.init();

                // NETTE AJAX EXTENSION
                $.nette.ext( 'modal', {

                    success: function ( responseJSON, status, settings )
                    {
                        // get modal element
                        var $modal = $( '#layoutModal' );

                        // is in response any snippet
                        if ( typeof responseJSON.snippets != 'undefined' )
                        {
                            // is there snippet modal
                            if ( responseJSON.snippets['snippet--modal'] )
                            {
                                // show modal
                                $modal.modal( 'show' );
                            }

                            if ( !responseJSON.snippets['snippet--modal-content'] && $( 'body' ).hasClass( 'modal-open' ) )
                            {
                                // hide modal
                                $modal.modal( 'hide' );
                            }

                        }

                    }
                } );
                
                // SPINNER
                $( 'button[data-loader]' ).click( function( e ) 
                {
                    $( '#loader' ).fadeToggle( 200 );
                } );

            } );

        </script>

        {/block}


    </body>
</html>
