
body {
    padding-top: 5rem;
}

/* http://www.raphaelfabeni.com.br/css-loader/ */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background-color: rgba(0,0,0,.85);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 999999;
}

.loader:after, .loader:before {
    box-sizing: border-box;
}

@keyframes rotation {
    0% { transform:rotate(0) } to { transform:rotate(359deg) };
}

@keyframes spin {
    0% { transform:rotate(0) } to { transform:rotate(359deg) };
}

.loader-default:after {
    content: "";
    position: fixed;
    width: 48px;
    height: 48px;
    border: 8px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    animation: rotation 1s linear infinite;
}

.loader-custom:after {
    content: "";
    position: fixed;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0069d9;
    border-radius: 50%;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    animation: spin 2s linear infinite;
}